body {
    background-color: skyblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
}

.tabela {
    border: solid white;
    border-radius: 20px;
    background-color: white;
}

.titulo {
    font-size: 40px;
    text-align: center;
    margin-top: 5%;
}

.formulario {
    border: solid whitesmoke;
    background-color: whitesmoke;
    width: 35%;
    height: 890px;
    border-radius: 20px;
    margin-left: 35%;
    margin-top: 40px;
}

.textou {
    border: 3px solid white;
    border-radius: 10px;
    width: 30%;
    margin-left: 30px;
    
}

.espacamento {
    margin-left: 35px;
    margin: 15px;
    padding: 20px;
}

.generos {
    margin-left: 30px;
}

.enviar {
    border-radius: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 20%;
    background-color: white;
    margin-left: 30px;
}

@media screen and (max-width: 1390px) {
    .formulario {
        width: 100%;
        text-align: center;
        margin-left: 0px;
        align-items: center

    }
}