body {
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 100%;
}

.titulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 60px;
}

.login {
    border: solid whitesmoke;
    background-color: whitesmoke;
    border-radius: 20px;
    width: 30%;
    height: 600px;
    margin: 0 auto;
    margin-top: 5%;
    
}

.logando {
    border: solid white;
    border-radius: 20px;
    width: 95%;
    padding: 10px;
    margin: 0 auto;
}

.botao {
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: solid black;
    background-color: white;
    border-radius: 10px;
    width: 20%;
    margin-left: 20px;
}

@media screen and (max-width: 1200px) {
 .login {
    width: 100%;
    text-align: center;
    margin-left: 30%;
    margin: 1 auto;
}

.logando {
    width: 80%;
}

body {
    width: 50%;
    margin-top: 0 auto;
    margin: 10%;
}

.botao {
    width: 50%;
}

@media screen and (max-width: 350px) {
    .login {
        width: 155%;
        height: 400px;
        margin: 0 auto;
        margin-top: 100%;
    }

    .titulo {
        width: 100%;
        font-size: 50px;
        text-align: center;
    }

    .esqueceu {
        width: 100%;
        margin: 0 auto;
        margin-top: 20%;
    }

    .botao {
        width: 60%;
        margin: 0 auto;
    }
}
}
    
