header {
    background-color: whitesmoke;
    border-radius: 20px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 170%;
    height: 280px;
}

.titulodocab {
    font-size:150%;
    margin: 0px;
}

.imagemkk {
    width: 20%;
    float: left;
    position: static;
    
}

.ajeitamentok {
width: 20%;
float: right;
position: static;
height: 0px;
}

.cabecalho {
list-style: none;
margin-top: 40px;
margin: 9%;
text-align: center;
padding: 5px;
float: center;
}

.corpocabecalho {
    display: inline;
    padding: 30px;
    margin: 10px;
    width: 50%;
    ;
 
    /*padding: 50px;*/
}
body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;

}

  /*Alinhamentos das imagens*/
    .imagem {
        text-align: center;
        width: 15%;
    }

    .img-container {
        text-align: center;

    }
    .ajeitamento {
        text-align: center;
        width: 11%;
    }

  /*Quadrado 1 do site*/
       .quadrado_1 {
    width: 1000px; /*Largura do quadrado*/
    height: auto; /*Altura do quadrado*/
    background-color: whitesmoke; /*Cor do fundo do quadrado*/
    border: 5px solid whitesmoke; /*Tipo da borda da linha*/
    border-radius: 20px; /*Bordas da forma geométrica*/
    margin: 30px auto; /*Margem do quadrado*/
    margin-bottom: 20px; /* Espaçamento entre os quadrados */
    justify-content: center;
    align-items: center;
    text-align: justify;
  }

    /*Rodapé responsivo*/
    footer {
        background-color: rgb(69, 69, 71);
        padding: 50px;
        text-align: center;
        margin-top: 10px;
    }

    .tabela2 {
        display: inline-block;
        margin: 0 60px;
    }

    a {
        color: slategrey;
        text-decoration: none;
    }

    .video {
       width: 100%;
       height: 400px;
       margin: 0 auto;
    }

/*Redimensão da tela*/
        @media screen and (max-width: 1035px) {
        header {
            width: 100%;
            margin: 0 auto;
        }

        
            .quadrado_1 {
        width: 97%;
        margin: 0 auto;
           }

           img {
            width: 40%;
           }

           .tabela2 {
            width: 84%;
            text-align: center;
            display: inline-block;
           }

           .corpocabecalho {
            width: 100%;
            display: inline;
            padding: 0 10px;
        }

        .icones {
            width: 30px;
        }

        footer {
            width: 88%;
            margin: 0 auto;
        }
        .video {
            width: 100%;
            margin: 0 auto;
        }
        }

        @media screen and (max-width: 795px) {
            header {
            width: 100%;
            height: 20%;
            }

            .corpocabecalho {
                display: flow-root;
                padding: 0 10px;
            }
            .video {
                width: 100%;
                margin: 0 auto;
            }

            .icones {
                width: 30px;
            }

            .quadrado_1 {
                width: 98%;
                margin: 0 auto;
                margin-top: 20%;
            }

            img {
                width: 60%;
            }

            footer {
                width: 85%;
                margin: 0 auto;
            }

            .tabela2 {
               text-align: center;
               font-size: 90%;
               margin: 0 auto;
            }
            
        }

        @media screen and (max-width: 643px) {
            footer {
                width: 83%;
            }

            .quadrado_1 {
                margin-top: 20%;
            }

            .corpocabecalho {
                font-size: 90%;
                display: flow-root;
                margin: 0 auto;
                padding: 0 10px;
            }

            .tabela2 {
                text-align: center;
                font-size: 90%;
                margin: 0 auto;
            }

            .icones {
                width: 30px;
            }
        }

        @media screen and (max-width: 587px) {
            .corpocabecalho {
                width: 60%;
                display: inline-block;
                padding: 0 10px;
                margin: 0 auto;
            }
            
            .quadrado_1 {
                margin-top: 20%;
            }

            footer {
                width: 80%;
            }

            .tabela2 {
                text-align: center;
                font-size: 90%;
                margin: 0 auto;
            }
        }

        @media screen and (max-width: 470px) {
            header {
                width: 100%;
            }

            .corpocabecalho {
                text-align: center;
                width: 100%;
            }

            .quadrado_1 {
                margin-top: 20%;
            }
        }

        @media screen and (max-width: 320px) {

            .corpocabecalho {
                width: 100%;
                margin: 0 auto;
                text-align: center;
                margin-top: 20px;
            }

            header {
                width: 100%;
            }

            body {
                width: 94%;
                font-size: 80%;
            }

            footer {
                width: 65%;
                margin: 0 auto;
                text-align: justify;
            }
        }
